---
const { id, title, content, isOpen } = Astro.props;
const contentId = `${id}-content`;
---

<details {...isOpen ? { open: true } : {}}>
  <summary
    id={id}
    aria-expanded={isOpen ? "true" : "false"}
    aria-controls={contentId}
  >
    <h2 class="heading-2">{title}</h2>
    <img
      src={isOpen
        ? "/public/assets/images/icon-minus.svg"
        : "/public/assets/images/icon-plus.svg"}
      alt=""
    />
  </summary>
  <div role="region" aria-live="polite" id={contentId}>
    <p>{content}</p>
  </div>
</details>

<style lang="scss">
  @use "../styles/abstracts/" as *;

  details {
    padding-block: 20px;

    @include mq(medium) {
      padding-block: 24px;
    }

    &:first-of-type {
      padding-block-start: 0;
    }

    &:not(:last-of-type) {
      border-bottom: 1px solid $color-neutral-200;
      padding-inline-end: 0;
    }
  }

  details > div {
    padding-block-start: 24px;
  }

  summary {
    display: flex;
    gap: $size-6;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;

    & img {
      width: 30px;
      height: 30px;
    }

    &:is(:hover, :focus) h2 {
      color: $color-primary-400;
    }
  }
  summary::-webkit-details-marker {
    display: none;
  }
</style>
