---
const { id, title, content, isOpen } = Astro.props;
const contentId = `${id}-content`;
---

<details {...isOpen ? { open: true } : {}}>
  <summary
    id={id}
    aria-expanded={isOpen ? "true" : "false"}
    aria-controls={contentId}
    class="flex-group"
  >
    <h2 class="heading-2">{title}</h2>
    <img
      src={isOpen
        ? "/assets/images/icon-minus.svg"
        : "/assets/images/icon-plus.svg"}
      alt=""
    />
  </summary>
  <div role="region" id={contentId} class="accordion-content">
    <p>{content}</p>
  </div>
</details>

<style lang="scss">
  @use "../styles/abstracts/" as *;

  details {
    padding-block: $accordion-item-padding-block;
    @include mq(medium) {
      padding-block: $accordion-item-padding-block-desktop;
    }

    &:first-of-type {
      padding-block-start: 0;
    }

    &:not(:last-of-type) {
      border-bottom: $accordion-item-border-bottom;
      padding-inline-end: 0;
    }

    &[open] summary ~ * {
      animation: sweep 0.5s ease-in-out;
    }
  }

  details > div {
    padding-block-start: $accordion-item-content-padding-block-start;
  }

  summary {
    list-style: none;
    cursor: pointer;

    & img {
      width: 30px;
      height: 30px;
    }

    &:is(:hover, :focus) h2 {
      color: $accordion-item-summary-color-hover;
    }
  }
  summary::-webkit-details-marker {
    display: none;
  }

  @keyframes sweep {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
